  <!-- Footer -->
  <footer id="footer">
    <div class="footer-copyright">
      <div class="container " style="padding: 15px;">
        <div class="footer-content">
          <div> 
            <span class="footer-link">Privacy Policy</span> 
            <span class="footer-link">Terms of Service</span> 
            <span class="footer-link">FAQ</span>
          </div>
          <div> 
            <span>© 2023 ShopEase. All rights</span> 
          </div>
          <div> 
            <span>reserved.</span> 
          </div>
        </div>
      </div>
    </div>
</footer>